body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.color-primary {
  color: #e83e8c;
}

.background-primary {
  background: #e83e8c;
}

.color-secondary {
  color: #888888;
}

.background-secondary {
  background: #888888;
}

.btn-secondary {
  background-color: #f2f2f2 !important;
  border: none !important;
}

.color-extra {
  color: #777777;
}

.home-content,
.product-content {
  padding: 2%;
}

.pay-button-active {
  color: rgb(7, 247, 7)
}

.pay-button-active:hover {
  cursor: pointer
}
